:root {
  --primary-color: #DF9755;
  --secondary-color: #EB5A3C;
  --background-color: #FBF5DD;
  --text-color: #f1f0e8;
}

body {
  background: var(--background-color);
  font-family: 'Tajawal', sans-serif;
}

@media (max-width: 992px) {
  /* Targets screens smaller than the 'lg' breakpoint (992px) */
  .offCanvasLinkBorder {
    border-bottom: 1px solid; /* Add a solid border */
  }
}

.offCanvasWhatsappLink{
	position: fixed;
	bottom: 47px;
}

@media (min-width: 992px) {
  .link-effect {
    a {
      color: black;
      display: inline-block; /* Restrict width to text content */
      padding: 10px 0;
      position: relative;
      transition: all 0.3s ease-out 0.1s;

      &::after {
        height: 3px;
        width: 100%;
        background: black;
        content: "";
        position: absolute;
        right: 0; /* Start from the right */
        bottom: 0;
        transform: scaleX(0); /* Scale horizontally */
        transform-origin: right; /* Animate from right to left */
        transition: transform 0.3s ease-out;
      }

      &:hover {
        &::after {
          transform: scaleX(1); /* Expand to full width */
        }
      }
    }
  }
}

.list-asterisk {
  padding: 0;
  margin: 0;
}

.list-asterisk li::before {
  content: "*  ";
}

.list-hyphen {
  padding: 0;
  margin: 0;
}

.list-hyphen li::before {
  content: "-  ";
}



.highlights{
	background-color: #E6AE7B; 
	width: fit-content;
}


.custom-img{
  max-height: 500px;
	object-fit: contain;
  border-radius: 20px;
}

/* .custom-img-2{
  max-height: 400px;
  border-radius: 20px;
}

@media(max-width:576px){
.custom-img-2{
  max-height: 250px;
}
} */

.hero-section2 {
  background-image: url("../images/templatemo-wave-banner.jpg"),
      linear-gradient(#eb5a3c, #ffffff);
  background-repeat: no-repeat;
  background-size: 108% 18%;
  background-position: top;
  padding-top: 200px;
}

@media(max-width:576px){
  .hero-section2{
    padding-top: 120px;
  }
}



@media (max-width: 767px) {
  .direction{
    flex-direction: column-reverse;
  }
}

.hover:hover{
  color: #EB5A3C;
}



.custom-service-block {
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  padding: 15px;
  transition: all 0.3s ease;
  height: fit-content;
}